@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #F2F4F7;
  }
}

/* Thêm vào file CSS global của bạn */
.ant-input-affix-wrapper-focused,
.ant-input-affix-wrapper:focus {
  border-color: #fca5a5 !important;
  box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.1) !important;
}

.ant-input-affix-wrapper:hover {
  border-color: #fca5a5 !important;
}

/* Ẩn thanh cuộn ngang cho trình duyệt hỗ trợ */
.scroll-container::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn ngang trên Chrome, Safari */
}

.scroll-container {
  -ms-overflow-style: none;  /* Ẩn thanh cuộn trên IE và Edge */
  scrollbar-width: none;     /* Ẩn thanh cuộn trên Firefox */
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector{
  background-color: rgba(0, 0, 0, 0.3); /* Màu nền */
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.description-text {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Hiển thị tối đa 2 dòng */
  -webkit-box-orient: vertical; /* Cắt theo chiều dọc */
  overflow: hidden;
  text-overflow: ellipsis; /* Thêm dấu "..." nếu vượt quá số dòng */
}